h1 {
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 90px;
    font-weight: 700;
    text-decoration: underline;
    color: lightcoral;
    background-color: lightblue;
}

h2 {
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    margin: 90px;
    font-weight: 400;
    color: rgb(39, 91, 121);
    background-color: lightsalmon;
}

p {
    font-family: 'Nunito', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    padding: 1px;
    margin: 40px 90px;
    color: rgb(23, 143, 137);
    background-color: ;
}

.logo {
    background-size: cover;
    background-image: url(https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png);
    background-color: white;
    height: 250px;
    width: 250px;
}
